<?xml version="1.0"?>

<robot name="unitree_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="ns" default=""/>
    <xacro:arg name="robot_type" default="aliengo"/>

    <xacro:include filename="$(find unitree_description)/xacro/$(arg robot_type).xacro"/>
    <xacro:include filename="$(find unitree_description)/xacro/gazebo.xacro"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/$(arg ns)</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

</robot>
